*{
  box-sizing:border-box;
}
html{
  font-size:16px;
}

body{
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.title{
  width:100vw;
  height:90vh;
  background-color: dodgerblue;
  padding:32vh 0 0 0;
}

h1{
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Titillium Web', sans-serif;
  color:white;
  text-align: center;
}

.no11{
  display:none;
}

.no12{
  display: none;
}

.no123{
  display:block;
}

/* No.2 */
.no2{
  color:black;
}
button{
  margin:0 45%;
  width:5vw;
  height:3vh;
}
.test{
  text-align: left;
}
.sunny{
  width:100vw;
  height:90vh;
  background-color: yellow;
  padding:32vh 0 0 0;
}

/* No.3 */
.part3{
  width:100vw;
  height:90vh;
  background-color: #aaa;
  padding:32vh 0 0 0;
}
.no31{
  display:block
}
.no32{
  display:none;
}
.no33{
  display:block;
}
