body{
  background-color: #CCCCCC;
  margin:auto;
}
#container{
  width:1380px;
  height:auto;
  margin:auto;
}
#board{
  width:1374px;
  height:100px;
  background: linear-gradient(to right, rgba(127, 71,221), orange);
  margin:auto;
  margin-top:60px;
}
.dropdown{
  display: none;
}
img{
  width:100%;
  height:100%;
  float:left;
}

h1.yi{
  font-family: orbitron, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F7931E;
  font-size:40pt;
  float:left;
  margin-left: 25px;
  margin-top: 55px;
  }

h1{
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  line-height: 0px;
  margin-left: 50px;
  margin-top: 55px;
}
.line{
  background:linear-gradient(to right, rgba(127, 71,221), orange);
  width:1374px;
  height:10pt;
  margin:auto;
  margin-top:150px;
  margin-bottom: 20PX;
}

/* Circle */
#Circle{
  margin:100px 0 20px 0;
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
}

#container1{
  max-width: max-content;
  height:2600px;
  margin-bottom: 80px;
}

.topsmall{
  display:none;
}

#big{
  width:980px;
  height:2600px;
  background-color: #F2F2F2;
  margin:auto;
  margin-right: 0px;
  margin-left: 50px;
  border-radius: 38px 0 0 38px;
  float:left;
  overflow-y: scroll;
}
.poster{
  width:962px;
  height:800px;
  margin-top:35px;
  background-color: grey;
}

.top{
  width:962px;
  height:142px;
  float:left;
  margin-top: 0;
  /* background-color: red; */
}

.lpor{
  width:142px;
  height:142px;
  float:left;
}

.ltext{
  width:790px;
  height:142px;
  float:left;
  margin-left: 30px;
  /* background-color: blue; */
}

.lname{
  width:100%;
  height:auto;
  float: left;
  /* line-height: 0; */
  font-family: yrsa,serif;
  font-weight: 600;
  font-style: normal;
  vertical-align: middle;
  font-size: 35pt;
  /* background-color:yellow; */
}

.lemotion{
  width:100%;
  height:auto;
  float:left;
  vertical-align: middle;
  /* background-color: yellow; */
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28pt;
  margin-top: 28px;
}
.mediume{
  width:100%;
  height:auto;
  float:left;
  margin-top: 30px;
}

.lbottom{
  width:100%;
  height:auto;
  float:left;
  margin-top: 20px;
  /* background-color: red; */
}

.location{
  width:auto;
  height:auto;
  margin-left: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
  vertical-align: middle;
  /* background-color: blue; */
  float:left;
}

.button{
  width:27pt;
  height:28pt;
  float:right;
  margin-right: 20px;
  line-height: 0;
  vertical-align: baseline;
}
#small{
  width:300px;
  height:1145px;
  background-color: #F2F2F2;
  margin-left: 20px;
  border-radius: 38px 0 0 38px;
  float:left;
  overflow-y:scroll;
}
.people{
  width:280px;
  height:144px;
  margin-top:37px;
  background-color: grey;
}

.rpor{
  width:144px;
  height:144px;
  float:left;
}

.rtext{
  width:auto;
  height:auto;
  float:left;
  font-family: yrsa,serif;
  font-weight: 600;
  font-style: normal;
  vertical-align: middle;
  font-size: 20pt;
  margin-left: 10px;
  /* background-color: red; */
}
/* HOT */
#Hot{
  margin:0px 0 20px 30px;
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
}
#container2{
  max-width: fit-content;
  height: 2000px ;
  margin: auto;
  background-color: none;
  margin-bottom: 80px;
}
.square{
  width:390px;
  height:600px;
  border-radius: 0 0 17px 17px;
  background-color: #f2f2f2;
  float:left;
  margin: 35px auto;
  margin-left: 50px;
}

.img{
  width:390px;
  height:390px;
  float:left;
}

.mtext{
  width:80%;
  height:auto;
  margin-left:10%;
  margin-top: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  font-size: 20pt;
  float:left;
}
/* video */
#video{
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
  margin-bottom: 100PX;
}
#container3{
  width:1290px;
  height:926px;
  background-color: #f2f2f2;
  margin: 50px auto;
}

.video{
  width:1290px;
  height:726px;
  float:left;
}

.bpor{
  width:140px;
  height:140px;
  float:left;
  margin-top:20px;
}

.btext{
  width: 1110px;
  height:auto;
  float:left;
  margin-top: 20px;
  margin-left: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  font-size: 25pt;
}

video{
  width:100%;
  height:auto;
}
/*  a  */
a:link{
  color:black;
  border-bottom: none;
}
a:hover{
  color:orange;
  background-color: none;
  cursor: grab;
  border-bottom: none;
}
a:focus {
  color: yellow;
  }
a:visited{
  color:grey;
  border-bottom: 2px black;
}
a:active{
  color:orange;
}

@media screen and (max-width: 2000px) {
    body {
        width:1440px;
    }
}

@media screen and (max-width: 1439px) {
  body{
    background-color: #CCCCCC;
    margin:auto;
    width:100%;
  }
  #container{
    width:1035px;
    height:auto;
    margin:auto;
  }
  #board{
    width:1030.5px;
    height:75px;
    background: linear-gradient(to right, rgba(127, 71,221), orange);
    margin:auto;
    margin-top:60px;
  }

  .dropdown{
    display: none;
  }

  img{
    width:100%;
    height:100%;
    float:left;
  }

  h1.yi{
    font-family: orbitron, sans-serif;
    font-weight: 375;
    font-style: normal;
    color: #F7931E;
    font-size:30pt;
    float:left;
    margin-left: 18.75px;
    margin-top: 41.25px;
    }

  h1{
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    line-height: 0px;
    margin-left: 37.5px;
    margin-top: 41.25px;
  }
  .line{
    background:linear-gradient(to right, rgba(127, 71,221), orange);
    width:1030.5px;
    height:7.5pt;
    margin:auto;
    margin-top:0px;
    margin-bottom: 15PX;
    float:left;
  }

  /* Circle */
  #Circle{
    margin:75px 0 15px 0;
    vertical-align: middle;
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    margin-left: 37.5px;
  }

  #container1{
    max-width: max-content;
    height:1350px;
    margin-bottom: 60px;
    float:left;
  }

  .topsmall{
    display:none;
  }

  #big{
    width:737px;
    height:1400px;
    background-color: #F2F2F2;
    margin:auto;
    margin-right: 0px;
    margin-left: 37.5px;
    border-radius: 28.5px 0 0 28.5px;
    float:left;
    overflow-y: scroll;
  }
  .poster{
    width:721.5px;
    height:600px;
    margin-top:26.25px;
    background-color: grey;
  }

  .top{
    width:721.5px;
    height:106.5px;
    float:left;
    margin-top: 0;
    /* background-color: red; */
  }

  .lpor{
    width:106.5px;
    height:106.5px;
    float:left;
  }

  .ltext{
    width:592.5px;
    height:106.5px;
    float:left;
    margin-left: 22.5px;
    /* background-color: blue; */
  }

  .lname{
    width:100%;
    height:auto;
    float: left;
    /* line-height: 0; */
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    font-size: 26.25pt;
    /* background-color:yellow; */
  }

  .lemotion{
    width:100%;
    height:auto;
    float:left;
    vertical-align: middle;
    /* background-color: yellow; */
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21pt;
    margin-top: 21px;
  }
  .mediume{
    width:100%;
    height:auto;
    float:left;
    margin-top: 22.5px;
  }

  .lbottom{
    width:100%;
    height:auto;
    float:left;
    margin-top: 15px;
    /* background-color: red; */
  }

  .location{
    width:auto;
    height:auto;
    margin-left: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18.75pt;
    vertical-align: middle;
    /* background-color: blue; */
    float:left;
  }

  .button{
    width:20.25pt;
    height:21pt;
    float:right;
    margin-right: 15px;
    line-height: 0;
    vertical-align: baseline;
  }
  #small{
    width:225px;
    height:858.75px;
    background-color: #F2F2F2;
    margin-left: 15px;
    border-radius: 28.5px 0 0 28.5px;
    float:left;
    overflow-y:scroll;
  }
  .people{
    width:210px;
    height:108px;
    margin-top:27.75px;
    background-color: grey;
  }

  .rpor{
    width:108px;
    height:108px;
    float:left;
  }

  .rtext{
    width:auto;
    height:auto;
    float:left;
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    margin-left: 7.5px;
    /* background-color: red; */
  }
  /* HOT */
  #Hot{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    margin-left: 37.5px;
  }
  #container2{
    max-width: fit-content;
    height: 1035px ;
    margin: auto;
    background-color: none;
    margin-bottom: 600px;
  }
  .square{
    width:292.5px;
    height:450px;
    border-radius: 0 0 12.75px 12.75px;
    background-color: #f2f2f2;
    float:left;
    margin: 26.25px auto;
    margin-left: 37.5px;
  }

  .img{
    width:292.5px;
    height:292.5px;
    float:left;
  }

  .mtext{
    width:80%;
    height:auto;
    margin-left:10%;
    margin-top: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    float:left;
  }
  /* video */
  #video{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    margin-left: 37.5px;
  }
  #container3{
    width:967.5px;
    height:694.5px;
    background-color: #f2f2f2;
    float:left;
    margin-left: 33.5px;
    margin:33.5 auto;
  }

  .video{
    width:967.5px;
    height:544.5px;
    float:left;
  }

  .bpor{
    width:105px;
    height:105px;
    float:left;
    margin-top:15px;
  }

  .btext{
    width: 832.5px;
    height:auto;
    float:left;
    margin-top: 15px;
    margin-left: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    vertical-align: middle;
    font-size: 18.75pt;
  }

  video{
    width:100%;
    height:auto;
  }
}

@media screen and (max-width: 1079px) {
  body{
    background-color: #CCCCCC;
    margin:auto;
    width:100%;
  }
  #container{
    width:736px;
    height:auto;
    margin:auto;
  }
  #board{
    width:732.8px;
    height:75px;
    background: linear-gradient(to right, rgba(127, 71,221), orange);;
    margin:auto;
    margin-top:42.7px;
  }


  .dropdown{
    display: none;
    position: relative;
    display: inline-block;
    float:right;
    margin-right:26.7px;
    margin:20px;
  }

  .tbotton{
    width:35pt;
    height:35px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  img{
    width:100%;
    height:100%;
    float:left;
  }

  h1.yi{
    font-family: orbitron, sans-serif;
    font-weight: 267;
    font-style: normal;
    color: #F7931E;
    font-size:27pt;
    float:left;
    margin-left: 26.7px;
    /* margin-top: 35px; */
    display:block;
    }

  h1{
    font-size:21pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    line-height: 0px;
    margin-left: 26.7px;
    margin-top: 29px;
    display:none;
  }
  .line{
    background:linear-gradient(to right, rgba(127, 71,221), orange);
    width:732.8px;
    height:5pt;
    margin:auto;
    margin-top:0px;
    margin-bottom: 15PX;
    float:left;
  }

  /* Circle */
  #Circle{
    margin:53px 0 11px 0;
    vertical-align: middle;
    font-size:21pt;
    font-family: roboto-mono,monospace;
    font-weight: 160;
    font-style: normal;
    float:left;
    margin-left: 26.7px;
  }

  #container1{
    max-width: max-content;
    height:1500px;
    margin-bottom: 60px;
    float:left;
    margin-right: calc(100vw - 560px -26.7px);
  }

  .topsmall{
    width:732.8px;
    height:150px;
    float:left;
    background-color: #F2F2F2;
    overflow-x: scroll;
    overflow-y: hidden;
    display:block;
    margin-bottom: 20px;
  }

  .tcontainer{
    width: max-content;
    height:auto;
    float:left;
  }

  .tbox{
    width:105px;
    height:140px;
    float:left;
    /* background-color: grey; */
    margin-left: 10px;
  }

  .tpor{
    width:105px;
    height:105px;
    float:left;
    margin:0 auto;
  }

  .tname{
    width:100%;
    height:auto;
    float: left;
    display: block;
    /* background-color: yellow; */
    /* line-height: 0; */
    margin:0 auto;
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    text-align: center;
    font-size: 17pt;
  }

  #big{
    width:560px;
    height:1400px;
    background-color: #F2F2F2;
    margin:auto;
    margin-right: 0px;
    margin-left: calc(50% - 280px);
    border-radius: 28.5px 0 0 28.5px;
    float:left;
    overflow-y: scroll;
  }
  .poster{
    width:542px;
    height:485px;
    margin-top:26.25px;
    background-color: grey;
  }

  .top{
    width:540px;
    height:106.5px;
    float:left;
    margin-top: 0;
    /* background-color: red; */
  }

  .lpor{
    width:106.5px;
    height:106.5px;
    float:left;
  }

  .ltext{
    width:411px;
    height:106.5px;
    float:left;
    margin-left: 22.5px;
    /* background-color: blue; */
  }

  .lname{
    width:100%;
    height:auto;
    float: left;
    /* line-height: 0; */
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    font-size: 26.25pt;
    /* background-color:yellow; */
  }

  .lemotion{
    width:100%;
    height:auto;
    float:left;
    vertical-align: middle;
    /* background-color: yellow; */
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 21pt;
    margin-top: 21px;
  }
  .mediume{
    width:100%;
    height:auto;
    float:left;
    margin-top: 22.5px;
  }

  .lbottom{
    width:100%;
    height:auto;
    float:left;
    margin-top: 10px;
    /* background-color: red; */
  }

  .location{
    width:auto;
    height:auto;
    margin-left: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18.75pt;
    vertical-align: middle;
    /* background-color: blue; */
    float:left;
  }

  .button{
    width:20.25pt;
    height:21pt;
    float:right;
    margin-right: 15px;
    line-height: 0;
    vertical-align: baseline;
  }
  #small{
    width:200px;
    height:200px;
    background-color: #F2F2F2;
    margin-left: 15px;
    border-radius: 28.5px 28.5px 0 0 ;
    float:left;
    overflow-x:scroll;
    visibility: hidden;
  }
  .people{
    width:210px;
    height:150px;
    margin-top:0;
    background-color: grey;
    float:left;
    display: inline-block;
  }

  .rpor{
    width:108px;
    height:108px;
    float:left;
  }

  .rtext{
    width:auto;
    height:auto;
    float:left;
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    margin-left: 7.5px;
    /* background-color: red; */
  }
  /* HOT */
  #Hot{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    margin-left: 37.5px;
  }
  #container2{
    max-width: 700px;
    height: 1030px ;
    margin: auto;
    background-color: none;
    margin-bottom: 0px;
    overflow-y: hidden;
    float:left;
  }
  .square{
    width:292.5px;
    height:450px;
    border-radius: 0 0 12.75px 12.75px;
    background-color: #f2f2f2;
    float:left;
    margin: 26.25px auto;
    margin-left: 37.5px;
  }

  .img{
    width:292.5px;
    height:292.5px;
    float:left;
  }

  .mtext{
    width:80%;
    height:auto;
    margin-left:10%;
    margin-top: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    float:left;
  }
  /* video */
  #video{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:30pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    margin-left: 37.5px;
  }
  #container3{
    width:688px;
    height:494.5px;
    background-color: #f2f2f2;
    float:left;
    margin-left: 24px;
    margin:24 auto;
  }

  .video{
    width:688px;
    height:387.2px;
    float:left;
  }

  .bpor{
    width:75px;
    height:75px;
    float:left;
    margin-top:10.7px;
  }

  .btext{
    width: 592px;
    height:auto;
    float:left;
    margin-top: 10.7px;
    margin-left: 10.7px;
    font-family: yrsa,serif;
    font-weight: 213;
    font-style: normal;
    vertical-align: middle;
    font-size: 13pt;
  }

  video{
    width:100%;
    height:auto;
  }
}

@media screen and (max-width: 767px) {
  body{
    background-color: #CCCCCC;
    margin:auto;
    width:100%;
  }
  #container{
    width:320px;
    height:auto;
    margin:auto;
  }
  #board{
    width:305px;
    height:75px;
    background: linear-gradient(to right, rgba(127, 71,221), orange);;
    margin:auto;
    margin-top:17.5px;
  }

  .dropdown{
    display: none;
    position: relative;
    display: inline-block;
    float:right;
    margin-right:26.7px;
    margin:20px;
  }

  .tbotton{
    width:35pt;
    height:35px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  img{
    width:100%;
    height:100%;
    float:left;
  }

  h1.yi{
    font-family: orbitron, sans-serif;
    font-weight: 267;
    font-style: normal;
    color: #F7931E;
    font-size:27pt;
    float:left;
    margin-left: 26.7px;
    /* margin-top: 35px; */
    display:block;
    }

  h1{
    font-size:20pt;
    font-family: roboto-mono,monospace;
    font-weight: 225;
    font-style: normal;
    float:left;
    line-height: 0px;
    margin-left: 23px;
    margin-top: 29px;
    display:none;
  }
  .line{
    background:linear-gradient(to right, rgba(127, 71,221), orange);
    width:305px;
    height:5pt;
    margin:auto;
    margin-top:0px;
    margin-bottom: 15PX;
    float:left;
  }

  /* Circle */
  #Circle{
    margin:53px 0 11px 0;
    vertical-align: middle;
    font-size:21pt;
    font-family: roboto-mono,monospace;
    font-weight: 160;
    font-style: normal;
    float:left;
    margin-left: 26.7px;
  }

  .topsmall{
    display:none;
  }

  #container1{
    max-width: max-content;
    height:583px;
    margin-bottom: 20px;
    float:left;
  }
  #big{
    width:320px;
    height:583px;
    background-color: #F2F2F2;
    margin:auto;
    margin-right: 0px;
    margin-left: 0;
    float:left;
    overflow-y: scroll;
    border-radius: 0;
  }
  .poster{
    width:305px;
    height:350px;
    margin-top:26.25px;
    background-color: grey;
  }

  .top{
    width:305px;
    height:106px;
    float:left;
    margin-top: 0;
    /* background-color: red; */
  }

  .lpor{
    width:106px;
    height:106px;
    float:left;
  }

  .ltext{
    width:171.25px;
    height:44.375px;
    float:left;
    margin-left: 9.375px;
    /* background-color: blue; */
  }

  .lname{
    width:100%;
    height:auto;
    float: left;
    /* line-height: 0; */
    font-family: yrsa,serif;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
    font-size: 20pt;
    /* background-color:yellow; */
  }

  .lemotion{
    width:100%;
    height:auto;
    float:left;
    vertical-align: middle;
    /* background-color: yellow; */
    font-family: yrsa,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17pt;
    margin-top: 8.75px;
  }
  .mediume{
    width:100%;
    height:auto;
    float:left;
    margin-top: 9.375px;
  }

  .lbottom{
    width:100%;
    height:auto;
    float:left;
    margin-top: 15px;
    /* background-color: red; */
  }

  .location{
    width:auto;
    height:auto;
    margin-left: 15px;
    font-family: yrsa,serif;
    font-weight: 100;
    font-style: normal;
    font-size: 17pt;
    vertical-align: middle;
    /* background-color: blue; */
    float:left;
  }

  .button{
    width:16pt;
    height:17pt;
    float:right;
    margin-right: 15px;
    line-height: 0;
    vertical-align: baseline;
  }
  #small{
    width:600px;
    height:200px;
    background-color: #F2F2F2;
    margin-left: 15px;
    border-radius: 28.5px 28.5px 0 0 ;
    float:left;
    overflow-x:scroll;
    display:none;
  }
  .people{
    width:210px;
    height:150px;
    margin-top:0;
    background-color: grey;
    float:left;
    display: inline-block;
  }

  .rpor{
    width:108px;
    height:108px;
    float:left;
  }

  .rtext{
    width:auto;
    height:auto;
    float:left;
    font-family: yrsa,serif;
    font-weight: 450;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    margin-left: 7.5px;
    /* background-color: red; */
  }
  /* HOT */
  #Hot{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:21pt;
    font-family: roboto-mono,monospace;
    font-weight: 160;
    font-style: normal
    float:left;
    margin-left: 26.7px;
  }
  #container2{
    max-width: 310px;
    height: 1030px ;
    margin: auto;
    background-color: white;
    margin-bottom: 50px;
    overflow-y: scroll;
    float:left;
  }
  .square{
    width:292.5px;
    height:450px;
    border-radius: 0 0 12.75px 12.75px;
    background-color: #f2f2f2;
    float:left;
    margin: 26.25px auto;

  }

  .img{
    width:292.5px;
    height:292.5px;
    float:left;
  }

  .mtext{
    width:80%;
    height:auto;
    margin-left:10%;
    margin-top: 15px;
    font-family: yrsa,serif;
    font-weight: 300;
    font-style: normal;
    vertical-align: middle;
    font-size: 15pt;
    float:left;
  }
  /* video */
  #video{
    margin:0px 0 15px 22.5px;
    vertical-align: middle;
    font-size:21pt;
    font-family: roboto-mono,monospace;
    font-weight: 160;
    font-style: normal
    float:left;
    margin-left: 37.5px;
  }
  #container3{
    width:320px;
    height:400px;
    background-color: #f2f2f2;
    float:left;
    margin-left: 0px;
    margin:0 auto;
  }

  .video{
    width:320px;
    height:180px;
    float:left;
  }

  .bpor{
    width:75px;
    height:75px;
    float:left;
    margin-top:10.7px;
  }

  .btext{
    width: 230px;
    height:auto;
    float:left;
    margin-top: 10.7px;
    margin-left: 10.7px;
    font-family: yrsa,serif;
    font-weight: 213;
    font-style: normal;
    vertical-align: middle;
    font-size: 13pt;
  }

  video{
    width:100%;
    height:auto;
  }
}
