body{
  margin: auto;
  overflow-x: hidden;
}
#container{
  width:100%;
  margin-left: auto;
  margin-top:auto;
}
.tile1, .tile2, .tile3{
  float:left;
  opacity: .9;
  margin:auto;
}
.tile1{
  width: 102px;
  height: 102px;
  border-radius: 100%;
  background-color: purple;
}
.tile2{
  width: 102px;
  height: 102px;
  background-color: violet;
  transform: rotate(90deg);
}
.tile3{
  width: 52px;
  height: 52px;
  transform-style: flat;
  background-color: deeppink;
}
