body{
  width:100vw;
  height:auto;
  background-color: #DED3B7;
}
#container{
  width:1440px;
  height:1861px;
  margin:0px auto;
  background-image: url("detail.png");
  /* border: 5px solid black; */
}
/* @media screen and (max-width: 2000px) {
    body {
        width:1440px;
    }
} */
@media screen and (max-width: 1439px) {
  #container{
    width:1080px;
    height:1394px;
    margin:0px auto;
    background-image: url("detail1080.png");
    /* border: 5px solid black; */
  }
}
@media screen and (max-width: 1079px) {
  #container{
    width:768px;
    height:993px;
    margin:0px auto;
    background-image: url("detail768.png");
    /* border: 5px solid black; */
  }
}
@media screen and (max-width: 767px){
  #container{
    width:320px;
    height:1894px;
    margin:0px auto;
    background-image: url("detailM.png");
    /* border: 5px solid black; */
  }
}
