body{
  background-color: #CCCCCC;
  margin:auto;
}
#container{
  width:1380px;
  height:auto;
  margin:auto;
}
#board{
  width:1374px;
  height:100px;
  background: linear-gradient(to right, rgba(127, 71,221), orange);
  margin:auto;
  margin-top:60px;
}

img{
  width:100%;
  height:100%;
  float:left;
}

h1.yi{
  font-family: orbitron, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #F7931E;
  font-size:40pt;
  float:left;
  margin-left: 25px;
  margin-top: 55px;
  }

h1{
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  line-height: 0px;
  margin-left: 50px;
  margin-top: 55px;
}
.line{
  background:linear-gradient(to right, rgba(127, 71,221), orange);
  width:1374px;
  height:10pt;
  margin:auto;
  margin-top:150px;
  margin-bottom: 20PX;
}

/* Circle */
#Circle{
  margin:100px 0 20px 0;
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
}

#container1{
  max-width: max-content;
  height:2600px;
  margin-bottom: 80px;
}
#big{
  width:962px;
  height:2600px;
  background-color: #F2F2F2;
  margin:auto;
  margin-right: 0px;
  margin-left: 50px;
  border-radius: 38px;
  float:left;
}
.poster{
  width:962px;
  height:800px;
  margin-top:35px;
  background-color: grey;
}

.top{
  width:962px;
  height:142px;
  float:left;
  margin-top: 0;
  /* background-color: red; */
}

.lpor{
  width:142px;
  height:142px;
  float:left;
}

.ltext{
  width:790px;
  height:142px;
  float:left;
  margin-left: 30px;
  /* background-color: blue; */
}

.lname{
  width:100%;
  height:auto;
  float: left;
  /* line-height: 0; */
  font-family: yrsa,serif;
  font-weight: 600;
  font-style: normal;
  vertical-align: middle;
  font-size: 35pt;
  /* background-color:yellow; */
}

.lemotion{
  width:100%;
  height:auto;
  float:left;
  vertical-align: middle;
  /* background-color: yellow; */
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 28pt;
  margin-top: 28px;
}
.mediume{
  width:100%;
  height:auto;
  float:left;
  margin-top: 30px;
}

.lbottom{
  width:100%;
  height:auto;
  float:left;
  margin-top: 20px;
  /* background-color: red; */
}

.location{
  width:auto;
  height:auto;
  margin-left: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25pt;
  vertical-align: middle;
  /* background-color: blue; */
  float:left;
}

.button{
  width:27pt;
  height:28pt;
  float:right;
  margin-right: 20px;
  line-height: 0;
  vertical-align: baseline;
}
#small{
  width:300px;
  height:1145px;
  background-color: #F2F2F2;
  margin-left: 20px;
  border-radius: 38px 0 0 38px;
  float:left;
  overflow-y:scroll;
}
.people{
  width:280px;
  height:144px;
  margin-top:37px;
  background-color: grey;
}

.rpor{
  width:144px;
  height:144px;
  float:left;
}

.rtext{
  width:auto;
  height:auto;
  float:left;
  font-family: yrsa,serif;
  font-weight: 600;
  font-style: normal;
  vertical-align: middle;
  font-size: 20pt;
  margin-left: 10px;
  /* background-color: red; */
}
/* HOT */
#Hot{
  margin:0px 0 20px 30px;
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
}
#container2{
  max-width: fit-content;
  height: 2000px ;
  margin: auto;
  background-color: none;
  margin-bottom: 80px;
}
.square{
  width:390px;
  height:600px;
  border-radius: 0 0 17px 17px;
  background-color: #f2f2f2;
  float:left;
  margin: 35px auto;
  margin-left: 50px;
}

.img{
  width:390px;
  height:390px;
  float:left;
}

.mtext{
  width:80%;
  height:auto;
  margin-left:10%;
  margin-top: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  font-size: 20pt;
  float:left;
}
/* video */
#video{
  vertical-align: middle;
  font-size:40pt;
  font-family: roboto-mono,monospace;
  font-weight: 300;
  font-style: normal;
  float:left;
  margin-left: 50px;
  margin-bottom: 100PX;
}
#container3{
  width:1290px;
  height:926px;
  background-color: #f2f2f2;
  margin: 50px auto;
}

.video{
  width:1290px;
  height:726px;
  float:left;
}

.bpor{
  width:140px;
  height:140px;
  float:left;
  margin-top:20px;
}

.btext{
  width: 1110px;
  height:auto;
  float:left;
  margin-top: 20px;
  margin-left: 20px;
  font-family: yrsa,serif;
  font-weight: 400;
  font-style: normal;
  vertical-align: middle;
  font-size: 25pt;
}

source{
  width:100%;
  height:auto;
}
/*  a  */
a:link{
  color:black;
}
a:hover{
  color:orange;
  backgroud-color: none;
  border-bottom: 10px orange;
  cursor: grab;
}
a:focus {
  color: yellow;
  }
a:visited{
  color:black;
  border-bottom:none;
}
a:active{
  color:red;
}
