body{
  width:100vw;
  height:auto;
  background-color: #F6EED9;
}
#container{
  width:1440px;
  height:765px;
  margin:0px auto;
  background-image: url("about.png");
  border: 5px solid black;
}
/* @media screen and (max-width: 2000px) {
    body {
        width:1440px;
    }
} */
@media screen and (max-width: 1439px) {
  #container{
    width:1080px;
    height:573px;
    margin:0px auto;
    background-image: url("about1080.png");
    border: 5px solid black;
  }
}
@media screen and (max-width: 1079px) {
  #container{
    width:768px;
    height:411px;
    margin:0px auto;
    background-image: url("about768.png");
    border: 5px solid black;
  }
}
@media screen and (max-width: 767px){
  #container{
    width:320px;
    height:655px;
    margin:0px auto;
    background-image: url("aboutM.png");
    border: 5px solid black;
  }
}
