body{
  background-color: rgb(220, 176, 106);
  width:50vw;
  margin:100px auto;
}
.container{
 margin:0 0 150px 0;
 width:auto;
}
.big{
  font-family: birra-2,serif;
  font-weight: 700;
  font-style: normal;
  font-size: 160px;
  float:left;
  margin:0 10px 0 ;
}
.middle{
  font-size: 20px;
  float:left;
  line-height: 10px;
}

.p{
  font-family: vortice-concept,sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: left;
  line-height: 35px;
  margin:0;
  float: left;
}
h4{
  font-family: vortice-concept,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align:center;
  margin:20px 0 50px 0;
  font-size: 50px;
}
