body{
  margin: auto;
  overflow-x:hidden;
}
#container{
  width:100%;
  margin-left: 40px;
  margin-top:auto;
}
.tile1, .tile2, .tile3, .tile4, .tile5,.tile6, .tile7, .tile8, .tile9{
  float:left;
  opacity: .8;
  margin: 5px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.tile1{
  width: 200px;
    height: 200px;
    border-radius: 50px 100% 100% 100% ;
    background:linear-gradient(to left,
    rgb(255,0,0), rgb(255,128,0))
  }
.tile2{
  width: 200px;
  height: 200px;
  background:linear-gradient(to top, rgb(255,255,0), rgb(128,255,0));
  border-radius: 50px 100% 100% 100% ;
  transform: rotate(45deg);
}
.tile3{
  width:200px;
  height: 200px;
  border-radius: 100% 50px 100% 100% ;
  background:linear-gradient(to right, rgb(0,255,0), rgb(0,255,128));
}
.tile4{
    width: 200px;
    height: 200px;
    border-radius: 50px 100% 100% 100% ;
    background:linear-gradient(to left, rgb(128,128,128), rgb(0,0,0));
    transform: rotate(-45deg);
  }
.tile5{
    width: 200px;
    height: 200px;
    background-color: rgb(255,128,0);
    border-radius: 100% 100% 100% 100% ;
  }
.tile6{
    width:200px;
    height: 200px;
    border-radius: 100% 50px 100% 100% ;
    background:linear-gradient(to right, rgb(0,255,255),
    rgb(0,128,255));

    transform:rotate(45deg);
  }
.tile7{
      width: 200px;
      height: 200px;
      border-radius: 50px 100% 100% 100% ;
      background:linear-gradient(to left, rgb(128,128,128), violet,rgb(0,0,0));
      transform: rotate(-90deg)
    }
.tile8{
      width: 200px;
      height: 200px;
      background:linear-gradient(to bottom,
      rgb(255,0,255),rgb(255,0,127));
      border-radius: 50px 100% 100% 100% ;
      transform: rotate(225deg);
    }
.tile9{
      width:200px;
      height: 200px;
      border-radius: 100% 50px 100% 100% ;
      background:linear-gradient(to right, rgb(0,0,255),rgb(127,0,255));
      background:linear-gradient(to left, blue, pink);
      transform: rotate(90deg);
}
